In [1]:
import pandas as pd
import nltk

In [2]:
twitter_df = pd.read_csv('twitter_df.csv')

/home/cbeckham/anaconda3/envs/graphdev/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (11,27,30,35,36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
twitter_df

,Unnamed: 0,author_id,conversation_id,tweet_created_at,edit_history_tweet_ids,id,in_reply_to_user_id,lang,reply_settings,source,...,description,name,username,location,followers_count,following_count,listed_count,tweet_count,description.mentions,hashtags
0,0,1229060372105134080,1324865785513332738,2020-11-07T00:09:58.000Z,['1324866646834606081'],1324866646834606081,1.236086e+18,en,everyone,Twitter Web App,...,NaN,Mr. Gekko,sicilianslice12,NaN,91,476,1,6549,NaN,NaN
1,1,1229060372105134080,1324865785513332738,2020-11-07T00:09:58.000Z,['1324866646834606081'],1324866646834606081,1.236086e+18,en,everyone,Twitter Web App,...,NaN,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,NaN
2,2,1229060372105134080,1324865785513332738,2020-11-07T00:09:58.000Z,['1324866646834606081'],1324866646834606081,1.236086e+18,en,everyone,Twitter Web App,...,NaN,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,NaN
3,3,1229060372105134080,1324865785513332738,2020-11-07T00:09:58.000Z,['1324866646834606081'],1324866646834606081,1.236086e+18,en,everyone,Twitter Web App,...,NaN,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,NaN
4,4,1229060372105134080,1324865785513332738,2020-11-07T00:09:58.000Z,['1324866646834606081'],1324866646834606081,1.236086e+18,en,everyone,Twitter Web App,...,NaN,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22901,22901,824046526208974848,1327363781400248320,2020-11-13T21:32:41.000Z,['1327363781400248320'],1327363781400248320,NaN,en,everyone,Twitter for iPhone,...,"Proud American, Wifey, Auntie, Veteran",Doreen Denton,Dentonreen,"Nevada, USA",373,469,2,105212,NaN,NaN
22902,22902,2974110382,1324918072021544961,2020-11-07T03:34:18.000Z,['1324918072021544961'],1324918072021544961,NaN,en,everyone,Twitter for iPhone,...,NaN,TJG,Yellowknife7777,NaN,279,1097,6,92850,NaN,NaN
22903,22903,742928442740482049,1326791555198357506,2020-11-12T07:38:52.000Z,['1326791555198357506'],1326791555198357506,NaN,en,everyone,Twitter for Android,...,My goal is to live life so that it reflects th...,Kevin D. Sunthimer,thebocious,"Lompoc, CA",108,352,0,2293,NaN,NaN
22904,22904,313676704,1327355781998645253,2020-11-13T21:00:54.000Z,['1327355781998645253'],1327355781998645253,NaN,en,everyone,Twitter for iPhone,...,AMERICAN,Jennifer Dickson,J_Dickson12,"Wisconsin, USA",613,1626,1,363960,NaN,NaN
22905,22905,1193542532,1324918008070987777,2020-11-07T03:34:03.000Z,['1324918008070987777'],1324918008070987777,NaN,en,everyone,Twitter for iPad,...,NaN,Nevermind,OhWellWhatevr,NaN,301,1952,5,68314,NaN,NaN