# Version 1 of the final project

## Preprocessing

In [1]:
#Imports necessary libraries 
import pandas as pd
import numpy as np
import networkx as nx
import json as js
import requests
import os

In [3]:
data = js.load(open('tweet_jsons/response1.json'))
tweet_df = pd.DataFrame(data["data"])

for i in range(2, 63):
    filepath = f'tweet_jsons/response{i}.json'
    data = js.load(open(filepath))
    new_df = pd.DataFrame(data["data"])
    tweet_df = pd.concat([new_df, tweet_df])

print(len(tweet_df)) # =3500 Tweets currently
print(len(tweet_df['author_id'].unique())) # =3046 users currently

# to-do: 
# pull corresponding author information from separate api endpoint for all unique author ids

3501
3046

In [4]:
tweet_df.head()

,author_id,context_annotations,conversation_id,created_at,edit_history_tweet_ids,entities,id,in_reply_to_user_id,lang,public_metrics,referenced_tweets,reply_settings,source,text,geo
0,1229060372105134080,[{'domain': {'description': 'Real world events...,1324865785513332738,2020-11-07T00:09:58.000Z,[1324866646834606081],"{'annotations': [{'end': 101, 'normalized_text...",1324866646834606081,1236085967666192385,en,"{'like_count': 0, 'quote_count': 0, 'reply_cou...","[{'id': '1324866614014210050', 'type': 'replie...",everyone,Twitter Web App,@JavoeGator @JonahLandergan The voting machine...,NaN
1,1229060372105134080,[{'domain': {'description': 'Real world events...,1324865385448042496,2020-11-07T00:09:32.000Z,[1324866538059558913],"{'annotations': [{'end': 100, 'normalized_text...",1324866538059558913,1270762579774902272,en,"{'like_count': 1, 'quote_count': 0, 'reply_cou...","[{'id': '1324866484536012800', 'type': 'replie...",everyone,Twitter Web App,@hannahyusuck @saintherons The voting machines...,NaN
2,1229060372105134080,[{'domain': {'description': 'Real world events...,1324866302100508676,2020-11-07T00:08:55.000Z,[1324866382966775810],"{'annotations': [{'end': 88, 'normalized_text'...",1324866382966775810,1661961012,en,"{'like_count': 0, 'quote_count': 0, 'reply_cou...","[{'id': '1324866302100508676', 'type': 'replie...",everyone,Twitter Web App,@FoxFyrePhotos The voting machines related to ...,NaN
3,1229060372105134080,[{'domain': {'description': 'Real world events...,1324865813325680641,2020-11-07T00:08:40.000Z,[1324866319896940544],"{'annotations': [{'end': 85, 'normalized_text'...",1324866319896940544,1314213370434744326,en,"{'like_count': 0, 'quote_count': 0, 'reply_cou...","[{'id': '1324865813325680641', 'type': 'replie...",everyone,Twitter Web App,@bertzbeess The voting machines related to the...,NaN
4,1229060372105134080,[{'domain': {'description': 'Named people in t...,1324835859812798465,2020-11-07T00:08:27.000Z,[1324866264913899522],"{'annotations': [{'end': 98, 'normalized_text'...",1324866264913899522,20939466,en,"{'like_count': 0, 'quote_count': 0, 'reply_cou...","[{'id': '1324866011049435137', 'type': 'replie...",everyone,Twitter Web App,@rajesh06 @NateSilver538 The voting machines r...,NaN

In [27]:
data = js.load(open('user_jsons/response_user0.json'))
user_df = pd.DataFrame(data["data"])

for i in range(1, 3501):
    if i not in [650, 746, 766, 1415, 1527, 2858, 2878, 3312, 3433]:
        filepath = f'user_jsons/response_user{i}.json'
        data = js.load(open(filepath))
        new_df = pd.DataFrame(data["data"])
        
        #print(new_df.head())
        user_df = pd.concat([new_df, user_df])

In [34]:
user_df.loc[user_df['entities'].isnull()==False]

,created_at,description,id,name,public_metrics,username,location,entities
0,2012-06-27T20:03:39.000Z,American!🇺🇸 🇺🇸NOLA LOVE⚜ living Salty! God is ...,620380827,"⚜ ✝ - Rox, esq.⚜ 🇺🇸💪🏼","{'followers_count': 1666, 'following_count': 2...",roxnola1,"Florida, USA","{'description': {'mentions': [{'end': 117, 'st..."
0,2011-01-10T20:43:46.000Z,First female MD to serve full term as Member o...,236541422,"Nan Hayworth, M.D.","{'followers_count': 47711, 'following_count': ...",NanHayworth,"Bedford, NY","{'description': {'hashtags': [{'end': 159, 'st..."
0,2009-02-28T16:47:29.000Z,"Proud,Passionate Conservative and Retired Fina...",22272027,Joe McGuinness,"{'followers_count': 1803, 'following_count': 2...",joemhhi,South Carolina,"{'description': {'hashtags': [{'end': 133, 'st..."
0,2009-05-05T21:17:24.000Z,"Conservative, Animal Lover, Catholic from West...",38022781,Grace,"{'followers_count': 22640, 'following_count': ...",graca5683,"Odessa,Tx.","{'description': {'hashtags': [{'end': 157, 'st..."
0,2012-06-27T20:03:39.000Z,American!🇺🇸 🇺🇸NOLA LOVE⚜ living Salty! God is ...,620380827,"⚜ ✝ - Rox, esq.⚜ 🇺🇸💪🏼","{'followers_count': 1666, 'following_count': 2...",roxnola1,"Florida, USA","{'description': {'mentions': [{'end': 117, 'st..."
...,...,...,...,...,...,...,...,...
0,2011-09-01T13:03:09.000Z,Step 1\nWe admitted we were powerless over PRO...,366028943,Rise against the Vogons 🙃,"{'followers_count': 44, 'following_count': 195...",MichelleLeaAnn,"NY, NY",{'url': {'urls': [{'display_url': '…amilyandyo...
0,2016-09-12T01:00:42.000Z,"Investigative journo, Mg. Ed @redstate. @bualu...",775137023979958272,Jennifer Van Laar,"{'followers_count': 44833, 'following_count': ...",jenvanlaar,Making CA Golden Again,"{'description': {'hashtags': [{'end': 57, 'sta..."
0,2009-02-10T01:01:38.000Z,"ULTRA MAGA Same ID on TRUTH, GETTR. U.S.S.F. 🚀...",20482530,Screw The Liberal World Order!,"{'followers_count': 1177, 'following_count': 1...",AmericanVictory,USA,"{'description': {'mentions': [{'end': 137, 'st..."
0,2019-02-13T21:04:38.000Z,I have my moments. Known for boomer rants and ...,1095790874947141632,Meara,"{'followers_count': 8255, 'following_count': 6...",MillennialOther,Rhode Island,"{'description': {'hashtags': [{'end': 131, 'st..."
0,2009-10-12T13:47:06.000Z,just a guy trying to sell Bobby Cameron Conce...,81845639,paul taylor,"{'followers_count': 578, 'following_count': 12...",paultaylor47,new glasgow,{'url': {'urls': [{'display_url': 'page.is/pau...

In [35]:
df2 = pd.json_normalize(user_df['public_metrics'])

In [36]:
df2

      followers_count  following_count  listed_count  tweet_count
0                  12              230             0         2848
1                1179              899            15       219404
2                 465              901             0        18778
3                  78             1029             0         3189
4                2592             4951            15        54783
...               ...              ...           ...          ...
3487               90              477             1         6549
3488               90              477             1         6549
3489               90              477             1         6549
3490               90              477             1         6549
3491               90              477             1         6549

[3492 rows x 4 columns]

In [37]:
user_df = user_df.reset_index()

In [38]:
user_df = user_df.join(df2)

In [39]:
user_df = user_df.drop(columns={'public_metrics'})

In [40]:
user_df

,index,created_at,description,id,name,username,location,entities,followers_count,following_count,listed_count,tweet_count
0,0,2019-09-15T14:19:50.000Z,Conservative Republican who respects GOD and t...,1173239803128582144,Rebecca Vargo,vargo_rebecca,NaN,NaN,12,230,0,2848
1,0,2012-12-26T20:19:10.000Z,,1037981756,Carey Lauren,CareyLauren334,United States,NaN,1179,899,15,219404
2,0,2019-07-31T15:39:01.000Z,sta fungia di minghia...🇺🇸MAGA🇺🇸,1156590095622922241,Keep Your Hands Off Our Constitution,KeepYourHandsO2,NaN,NaN,465,901,0,18778
3,0,2009-10-23T13:39:35.000Z,,84592949,HOMESWEETHOME,FlaDebbie,"Madeira Beach, FL",NaN,78,1029,0,3189
4,0,2008-08-09T23:57:26.000Z,There’s nobody that’s coming to save us. You a...,15793556,Daniel Harris - Ballot Harvester 2024,DanielLHarrisUS,NaN,NaN,2592,4951,15,54783
...,...,...,...,...,...,...,...,...,...,...,...,...
3487,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,NaN,90,477,1,6549
3488,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,NaN,90,477,1,6549
3489,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,NaN,90,477,1,6549
3490,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,NaN,90,477,1,6549
3491,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,NaN,90,477,1,6549

In [41]:
#user_df['entities']
test= pd.json_normalize(user_df['entities'])

In [43]:
test

,description.mentions,description.hashtags,url.urls,description.urls,description.cashtags
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
3487,NaN,NaN,NaN,NaN,NaN
3488,NaN,NaN,NaN,NaN,NaN
3489,NaN,NaN,NaN,NaN,NaN
3490,NaN,NaN,NaN,NaN,NaN
3491,NaN,NaN,NaN,NaN,NaN

In [93]:
test.loc[test['description.mentions'].isnull()==False]

,description.mentions,description.hashtags,url.urls,description.urls,description.cashtags,hashtags
5,"[{'end': 117, 'start': 102, 'username': 'Flori...",NaN,NaN,NaN,NaN,None
6,"[{'end': 89, 'start': 85, 'username': 'IWF'}]","[{'end': 159, 'start': 151, 'tag': 'Freedom'}]",NaN,NaN,NaN,[Freedom]
18,"[{'end': 117, 'start': 102, 'username': 'Flori...",NaN,NaN,NaN,NaN,None
47,"[{'end': 24, 'start': 10, 'username': 'Capital...",NaN,NaN,NaN,NaN,None
102,"[{'end': 74, 'start': 59, 'username': 'jessiej...","[{'end': 5, 'start': 0, 'tag': 'Army'}, {'end'...",NaN,NaN,NaN,"[Army, Veteran, MAGA, 2A, TCOT, MolonLabe, Con..."
...,...,...,...,...,...,...
3423,"[{'end': 67, 'start': 59, 'username': 'AZRed65'}]","[{'end': 18, 'start': 13, 'tag': 'MAGA'}]",NaN,NaN,NaN,[MAGA]
3432,"[{'end': 99, 'start': 87, 'username': 'Georgia...",NaN,NaN,NaN,NaN,None
3436,"[{'end': 41, 'start': 30, 'username': 'dcexami...",NaN,[{'display_url': 'washingtonexaminer.com/autho...,NaN,NaN,None
3450,"[{'end': 38, 'start': 29, 'username': 'redstat...","[{'end': 57, 'start': 50, 'tag': 'BoyMom'}, {'...","[{'display_url': 'Redstate.com/jenvanlaar', 'e...",NaN,NaN,"[BoyMom, girlgramie, RamsHouse, AlwaysLA, TarH..."
3460,"[{'end': 137, 'start': 125, 'username': 'Barac...",NaN,[{'display_url': 'hurricanemccomb.shutterfly.c...,NaN,NaN,None

In [ ]:
val = test['description.hashtags'][3]
val

In [44]:
def create_tag_list(row):
    tag_list = []
    if type(row['description.hashtags'])!=float:
        for tag_dict in row['description.hashtags']:
            tag_list.append(tag_dict['tag'])
        return tag_list
    else:
        return None

In [45]:
test['hashtags'] = test.apply(lambda row: create_tag_list(row), axis=1)

In [52]:
test.loc[test['hashtags'].isnull()==False]

,description.mentions,description.hashtags,url.urls,description.urls,description.cashtags,hashtags
6,"[{'end': 89, 'start': 85, 'username': 'IWF'}]","[{'end': 159, 'start': 151, 'tag': 'Freedom'}]",NaN,NaN,NaN,[Freedom]
11,NaN,"[{'end': 133, 'start': 122, 'tag': 'TrumpTrain...",NaN,NaN,NaN,"[TrumpTrain, Deplorable, NRA, MAGA]"
14,NaN,"[{'end': 157, 'start': 152, 'tag': 'MAGA'}]",NaN,NaN,NaN,[MAGA]
21,NaN,"[{'end': 54, 'start': 49, 'tag': 'MAGA'}]",NaN,NaN,NaN,[MAGA]
27,NaN,"[{'end': 126, 'start': 121, 'tag': 'MAGA'}, {'...",NaN,NaN,NaN,"[MAGA, BLUELIVESMATTER]"
...,...,...,...,...,...,...
3423,"[{'end': 67, 'start': 59, 'username': 'AZRed65'}]","[{'end': 18, 'start': 13, 'tag': 'MAGA'}]",NaN,NaN,NaN,[MAGA]
3442,NaN,"[{'end': 78, 'start': 62, 'tag': 'BlueLivesMat...",NaN,NaN,NaN,"[BlueLivesMatter, SpaceForce, MAGA, Canes, Tak..."
3445,NaN,"[{'end': 133, 'start': 125, 'tag': 'ProLife'}]",NaN,NaN,NaN,[ProLife]
3450,"[{'end': 38, 'start': 29, 'username': 'redstat...","[{'end': 57, 'start': 50, 'tag': 'BoyMom'}, {'...","[{'display_url': 'Redstate.com/jenvanlaar', 'e...",NaN,NaN,"[BoyMom, girlgramie, RamsHouse, AlwaysLA, TarH..."
3462,NaN,"[{'end': 131, 'start': 120, 'tag': 'RescueDogs'}]",NaN,NaN,NaN,[RescueDogs]

In [53]:
user_df = user_df.join(test)

In [54]:
user_df = user_df.drop(columns='entities')

KeyError: "['entities'] not found in axis"

In [61]:
user_df = user_df.drop(columns=['description.hashtags', 'url.urls', 'description.urls', 'description.cashtags'], axis=1)

In [62]:
user_df

,index,created_at,description,id,name,username,location,followers_count,following_count,listed_count,tweet_count,description.mentions,hashtags
0,0,2019-09-15T14:19:50.000Z,Conservative Republican who respects GOD and t...,1173239803128582144,Rebecca Vargo,vargo_rebecca,NaN,12,230,0,2848,NaN,None
1,0,2012-12-26T20:19:10.000Z,,1037981756,Carey Lauren,CareyLauren334,United States,1179,899,15,219404,NaN,None
2,0,2019-07-31T15:39:01.000Z,sta fungia di minghia...🇺🇸MAGA🇺🇸,1156590095622922241,Keep Your Hands Off Our Constitution,KeepYourHandsO2,NaN,465,901,0,18778,NaN,None
3,0,2009-10-23T13:39:35.000Z,,84592949,HOMESWEETHOME,FlaDebbie,"Madeira Beach, FL",78,1029,0,3189,NaN,None
4,0,2008-08-09T23:57:26.000Z,There’s nobody that’s coming to save us. You a...,15793556,Daniel Harris - Ballot Harvester 2024,DanielLHarrisUS,NaN,2592,4951,15,54783,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3487,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None
3488,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None
3489,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None
3490,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None
3491,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None

In [63]:
user_df.columns

Index(['index', 'created_at', 'description', 'id', 'name', 'username',
       'location', 'followers_count', 'following_count', 'listed_count',
       'tweet_count', 'description.mentions', 'hashtags'],
      dtype='object')

In [64]:
tweet_df.columns

Index(['author_id', 'context_annotations', 'conversation_id', 'created_at',
       'edit_history_tweet_ids', 'entities', 'id', 'in_reply_to_user_id',
       'lang', 'public_metrics', 'referenced_tweets', 'reply_settings',
       'source', 'text', 'geo'],
      dtype='object')

In [65]:
tweet_fields = ["in_reply_to_user_id", "text"]
user_fields = ["created_at", "id", "user_id", "followers_count", "name"]
dont_have = ['in_reply_to_screen_name', "in_reply_to_status_id", "retweeted_id",
"retweeted_screen_name", "user_mentions_screen_name", "user_mentions_id"]
# note screen_name is name

In [66]:
tweet_types = pd.json_normalize(tweet_df['referenced_tweets'])

In [67]:
tweet_df.loc[tweet_df['id']=='1324866646834606081']['referenced_tweets']

0    [{'id': '1324866614014210050', 'type': 'replie...
Name: referenced_tweets, dtype: object

In [68]:
def create_referenced_list(row):
    tag_overall_dict = {}
    if type(row['referenced_tweets'])!=float:
        for tag_dict in row['referenced_tweets']:
            tag_overall_dict[tag_dict['type']] = tag_dict['id']
        return tag_overall_dict
    else:
        return None

In [69]:
test_df = tweet_df.copy()

In [70]:
test_df['testdict'] = tweet_df.apply(lambda row: create_referenced_list(row), axis=1)

In [71]:
for dic in test_df['testdict']:
    print(dic['replied_to'])
    print('replied_to' in dic)
    break

1324866614014210050
True

In [72]:
reply_testing =  pd.DataFrame(columns=['retweeted', 'replied_to', 'quoted'])
def process_row(row):
    if row['testdict'] is None:
        to_append = [None, None, None] 
    elif 'replied_to' in row['testdict']:
        to_append = [row['testdict']['replied_to'], None, None]
    elif 'retweeted' in row['testdict']:
        to_append = [None, row['testdict']['retweeted'], None]
    elif 'quoted' in row['testdict']:
        to_append = [None, None, row['testdict']['quoted']]
    reply_testing.loc[len(reply_testing.index)] = to_append

In [73]:
test_df.apply(lambda row: process_row(row), axis=1)

0     None
1     None
2     None
3     None
4     None
      ...
82    None
83    None
84    None
85    None
86    None
Length: 3501, dtype: object

In [74]:
test_df = test_df.join(reply_testing)

In [75]:
tweet_df = test_df

In [76]:
tweet_df = tweet_df.drop(columns='testdict')

In [77]:
pub_metrics = pd.json_normalize(tweet_df['public_metrics'])

In [78]:
tweet_df = tweet_df.join(pub_metrics)

In [79]:
tweet_df = tweet_df.drop(columns=['public_metrics', 'referenced_tweets'])

In [80]:
entity_df = pd.json_normalize(tweet_df['entities'])

In [81]:
entity_df

,annotations,mentions,urls,hashtags
0,"[{'end': 101, 'normalized_text': 'MI', 'probab...","[{'end': 27, 'id': '1092525317506375680', 'sta...",NaN,NaN
1,"[{'end': 34, 'normalized_text': 'Paul Gosar', ...","[{'end': 18, 'id': '1651225333', 'start': 3, '...",NaN,NaN
2,"[{'end': 34, 'normalized_text': 'Paul Gosar', ...","[{'end': 18, 'id': '1651225333', 'start': 3, '...",NaN,NaN
3,"[{'end': 34, 'normalized_text': 'Paul Gosar', ...","[{'end': 18, 'id': '1651225333', 'start': 3, '...",NaN,NaN
4,"[{'end': 34, 'normalized_text': 'Paul Gosar', ...","[{'end': 18, 'id': '1651225333', 'start': 3, '...",NaN,NaN
...,...,...,...,...
3496,"[{'end': 97, 'normalized_text': 'MI', 'probabi...","[{'end': 10, 'id': '161111922', 'start': 0, 'u...",NaN,NaN
3497,"[{'end': 22, 'normalized_text': 'Dominion Voti...","[{'end': 220, 'id': '22703645', 'start': 206, ...",[{'display_url': 'noqreport.com/2020/11/06/dom...,NaN
3498,"[{'end': 43, 'normalized_text': 'Arizona', 'pr...",NaN,NaN,NaN
3499,"[{'end': 59, 'normalized_text': 'Maricopa coun...","[{'end': 11, 'id': '76543481', 'start': 3, 'us...",NaN,NaN
3500,"[{'end': 34, 'normalized_text': 'Paul Gosar', ...","[{'end': 18, 'id': '1651225333', 'start': 3, '...",NaN,NaN

In [82]:
mentions_df = pd.DataFrame(columns=['user_mentioned'])
def process_mentions(mentions):
    if mentions is None or type(mentions)==float:
        to_append = [None]
    else:
        for mentions_dict in mentions:
            if mentions_dict is None:
                to_append = [None]
            else:
                to_append = [mentions_dict['id']]
    mentions_df.loc[len(mentions_df.index)] = to_append

In [83]:
annotations_df = pd.DataFrame(columns=['Place', 'Organization', 'Person', 'Other', 'Probability'])
def process_annotations(annotations):
    if annotations is None or type(annotations)==float:
        to_append = [None, None, None, None, None]
    else:
        for an_dict in annotations:
            if an_dict is None:
                to_append = [None, None, None, None, None]
            if an_dict['type'] == 'Place':
                to_append = [an_dict['normalized_text'], None, None, None, an_dict['probability']]
            elif an_dict['type'] == 'Organization':
                to_append = [None, an_dict['normalized_text'], None, None, an_dict['probability']]
            elif an_dict['type'] == 'Person':
                to_append = [None, None, an_dict['normalized_text'], None, an_dict['probability']]
            elif an_dict['type'] == 'Other':
                to_append = [None, None, None, an_dict['normalized_text'], an_dict['probability']]
            else:
                to_append = [None, None, None, None, None]
    annotations_df.loc[len(annotations_df.index)] = to_append

In [84]:
entity_df.apply(lambda x: process_annotations(x['annotations']), axis=1)

0       None
1       None
2       None
3       None
4       None
        ...
3496    None
3497    None
3498    None
3499    None
3500    None
Length: 3501, dtype: object

In [85]:
entity_df.apply(lambda x: process_mentions(x['mentions']), axis=1)

0       None
1       None
2       None
3       None
4       None
        ...
3496    None
3497    None
3498    None
3499    None
3500    None
Length: 3501, dtype: object

In [86]:
tweet_df = tweet_df.join(annotations_df)

In [87]:
tweet_df = tweet_df.join(mentions_df)

In [88]:
tweet_df = tweet_df.drop(columns='entities')

In [89]:
tweet_df = tweet_df.drop(columns='context_annotations')

In [90]:
tweet_df

,author_id,conversation_id,created_at,edit_history_tweet_ids,id,in_reply_to_user_id,lang,reply_settings,source,text,...,like_count,quote_count,reply_count,retweet_count,Place,Organization,Person,Other,Probability,user_mentioned
0,1229060372105134080,1324865785513332738,2020-11-07T00:09:58.000Z,[1324866646834606081],1324866646834606081,1236085967666192385,en,everyone,Twitter Web App,@JavoeGator @JonahLandergan The voting machine...,...,0,0,1,0,AZ,None,None,None,0.8820,1092525317506375680
0,596174897,1324917905180471302,2020-11-07T03:33:39.000Z,[1324917905180471302],1324917905180471302,NaN,en,everyone,Twitter Web App,RT @danielchaitin7: Rep. Paul Gosar (@RepGosar...,...,0,0,1,0,AZ,None,None,None,0.8820,1092525317506375680
0,472280658,1324959065328381952,2020-11-07T06:17:12.000Z,[1324959065328381952],1324959065328381952,NaN,en,everyone,Twitter Web App,RT @danielchaitin7: Rep. Paul Gosar (@RepGosar...,...,0,0,1,0,AZ,None,None,None,0.8820,1092525317506375680
0,1309864416767139853,1325069965880258560,2020-11-07T13:37:53.000Z,[1325069965880258560],1325069965880258560,NaN,en,everyone,Twitter for Android,RT @danielchaitin7: Rep. Paul Gosar (@RepGosar...,...,0,0,1,0,AZ,None,None,None,0.8820,1092525317506375680
0,21452155,1325073256072638464,2020-11-07T13:50:57.000Z,[1325073256072638464],1325073256072638464,NaN,en,everyone,Twitter for Android,RT @danielchaitin7: Rep. Paul Gosar (@RepGosar...,...,0,0,1,0,AZ,None,None,None,0.8820,1092525317506375680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,1229060372105134080,1324563954681610240,2020-11-07T00:10:36.000Z,[1324866809498132487],1324866809498132487,161111922,en,everyone,Twitter Web App,@Sketchy72 @KellanOlson The voting machines re...,...,0,0,0,159,None,None,Trump,None,0.7596,None
89,2974110382,1324918072021544961,2020-11-07T03:34:18.000Z,[1324918072021544961],1324918072021544961,NaN,en,everyone,Twitter for iPhone,Dominion Voting Systems: The company at the ce...,...,0,0,0,159,None,None,Trump,None,0.7596,None
89,742928442740482049,1326791555198357506,2020-11-12T07:38:52.000Z,[1326791555198357506],1326791555198357506,NaN,en,everyone,Twitter for Android,RT @hrtablaze: The largest county in Arizona i...,...,0,0,0,159,None,None,Trump,None,0.7596,None
89,313676704,1327355781998645253,2020-11-13T21:00:54.000Z,[1327355781998645253],1327355781998645253,NaN,en,everyone,Twitter for iPhone,RT @BorisEP: Dominion Voting Systems used in M...,...,0,0,0,159,None,None,Trump,None,0.7596,None
90,1193542532,1324918008070987777,2020-11-07T03:34:03.000Z,[1324918008070987777],1324918008070987777,NaN,en,everyone,Twitter for iPad,RT @danielchaitin7: Rep. Paul Gosar (@RepGosar...,...,0,0,0,228,None,Dominion V,None,None,0.3930,765909323545513984

In [99]:
user_df = user_df.rename(columns={'id':'author_id'})

In [116]:
user_df['author_id'] = user_df['author_id'].astype(int)

In [120]:
tweet_df['author_id'] = tweet_df['author_id'].astype(int)

In [124]:
tweet_df = tweet_df.rename(columns={'created_at': 'tweet_created_at'})

In [125]:
user_df = user_df.rename(columns={'created_at': 'user_created_at'})

In [128]:
overall_df = tweet_df.join(user_df, on='author_id')

ValueError: columns overlap but no suffix specified: Index(['author_id'], dtype='object')

In [133]:
user_df.loc[user_df['author_id']==1229060372105134080]

,index,user_created_at,description,author_id,name,username,location,followers_count,following_count,listed_count,tweet_count,description.mentions,hashtags
2624,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,91,476,1,6549,NaN,None
3059,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None
3065,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None
3174,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None
3175,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3487,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None
3488,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None
3489,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None
3490,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None
3491,0,2020-02-16T15:10:10.000Z,,1229060372105134080,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,None

In [131]:
tweet_done = pd.merge(tweet_df, user_df, on=['author_id'])
tweet_done

,author_id,conversation_id,tweet_created_at,edit_history_tweet_ids,id,in_reply_to_user_id,lang,reply_settings,source,text,...,description,name,username,location,followers_count,following_count,listed_count,tweet_count,description.mentions,hashtags
0,1229060372105134080,1324865785513332738,2020-11-07T00:09:58.000Z,[1324866646834606081],1324866646834606081,1236085967666192385,en,everyone,Twitter Web App,@JavoeGator @JonahLandergan The voting machine...,...,,Mr. Gekko,sicilianslice12,NaN,91,476,1,6549,NaN,NaN
1,1229060372105134080,1324865785513332738,2020-11-07T00:09:58.000Z,[1324866646834606081],1324866646834606081,1236085967666192385,en,everyone,Twitter Web App,@JavoeGator @JonahLandergan The voting machine...,...,,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,NaN
2,1229060372105134080,1324865785513332738,2020-11-07T00:09:58.000Z,[1324866646834606081],1324866646834606081,1236085967666192385,en,everyone,Twitter Web App,@JavoeGator @JonahLandergan The voting machine...,...,,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,NaN
3,1229060372105134080,1324865785513332738,2020-11-07T00:09:58.000Z,[1324866646834606081],1324866646834606081,1236085967666192385,en,everyone,Twitter Web App,@JavoeGator @JonahLandergan The voting machine...,...,,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,NaN
4,1229060372105134080,1324865785513332738,2020-11-07T00:09:58.000Z,[1324866646834606081],1324866646834606081,1236085967666192385,en,everyone,Twitter Web App,@JavoeGator @JonahLandergan The voting machine...,...,,Mr. Gekko,sicilianslice12,NaN,90,477,1,6549,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22901,824046526208974848,1327363781400248320,2020-11-13T21:32:41.000Z,[1327363781400248320],1327363781400248320,NaN,en,everyone,Twitter for iPhone,RT @BorisEP: Dominion Voting Systems used in M...,...,"Proud American, Wifey, Auntie, Veteran",Doreen Denton,Dentonreen,"Nevada, USA",373,469,2,105212,NaN,NaN
22902,2974110382,1324918072021544961,2020-11-07T03:34:18.000Z,[1324918072021544961],1324918072021544961,NaN,en,everyone,Twitter for iPhone,Dominion Voting Systems: The company at the ce...,...,,TJG,Yellowknife7777,NaN,279,1097,6,92850,NaN,NaN
22903,742928442740482049,1326791555198357506,2020-11-12T07:38:52.000Z,[1326791555198357506],1326791555198357506,NaN,en,everyone,Twitter for Android,RT @hrtablaze: The largest county in Arizona i...,...,My goal is to live life so that it reflects th...,Kevin D. Sunthimer,thebocious,"Lompoc, CA",108,352,0,2293,NaN,NaN
22904,313676704,1327355781998645253,2020-11-13T21:00:54.000Z,[1327355781998645253],1327355781998645253,NaN,en,everyone,Twitter for iPhone,RT @BorisEP: Dominion Voting Systems used in M...,...,AMERICAN,Jennifer Dickson,J_Dickson12,"Wisconsin, USA",613,1626,1,363960,NaN,NaN
22905,1193542532,1324918008070987777,2020-11-07T03:34:03.000Z,[1324918008070987777],1324918008070987777,NaN,en,everyone,Twitter for iPad,RT @danielchaitin7: Rep. Paul Gosar (@RepGosar...,...,,Nevermind,OhWellWhatevr,NaN,301,1952,5,68314,NaN,NaN

In [134]:
tweet_done.to_csv('twitter_df.csv')

In [97]:
overall_df

,author_id,conversation_id,created_atauthor_id,edit_history_tweet_ids,idauthor_id,in_reply_to_user_id,lang,reply_settings,source,text,...,idid,name,username,location,followers_count,following_count,listed_count,tweet_count,description.mentions,hashtags
0,1229060372105134080,1324865785513332738,2020-11-07T00:09:58.000Z,[1324866646834606081],1324866646834606081,1236085967666192385,en,everyone,Twitter Web App,@JavoeGator @JonahLandergan The voting machine...,...,1173239803128582144,Rebecca Vargo,vargo_rebecca,NaN,12,230,0,2848,NaN,NaN
0,596174897,1324917905180471302,2020-11-07T03:33:39.000Z,[1324917905180471302],1324917905180471302,NaN,en,everyone,Twitter Web App,RT @danielchaitin7: Rep. Paul Gosar (@RepGosar...,...,1173239803128582144,Rebecca Vargo,vargo_rebecca,NaN,12,230,0,2848,NaN,NaN
0,472280658,1324959065328381952,2020-11-07T06:17:12.000Z,[1324959065328381952],1324959065328381952,NaN,en,everyone,Twitter Web App,RT @danielchaitin7: Rep. Paul Gosar (@RepGosar...,...,1173239803128582144,Rebecca Vargo,vargo_rebecca,NaN,12,230,0,2848,NaN,NaN
0,1309864416767139853,1325069965880258560,2020-11-07T13:37:53.000Z,[1325069965880258560],1325069965880258560,NaN,en,everyone,Twitter for Android,RT @danielchaitin7: Rep. Paul Gosar (@RepGosar...,...,1173239803128582144,Rebecca Vargo,vargo_rebecca,NaN,12,230,0,2848,NaN,NaN
0,21452155,1325073256072638464,2020-11-07T13:50:57.000Z,[1325073256072638464],1325073256072638464,NaN,en,everyone,Twitter for Android,RT @danielchaitin7: Rep. Paul Gosar (@RepGosar...,...,1173239803128582144,Rebecca Vargo,vargo_rebecca,NaN,12,230,0,2848,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,1229060372105134080,1324563954681610240,2020-11-07T00:10:36.000Z,[1324866809498132487],1324866809498132487,161111922,en,everyone,Twitter Web App,@Sketchy72 @KellanOlson The voting machines re...,...,816995904993525760,AMERICAN DREAMER,wyckoffathome,United States,517,661,0,157183,NaN,NaN
89,2974110382,1324918072021544961,2020-11-07T03:34:18.000Z,[1324918072021544961],1324918072021544961,NaN,en,everyone,Twitter for iPhone,Dominion Voting Systems: The company at the ce...,...,816995904993525760,AMERICAN DREAMER,wyckoffathome,United States,517,661,0,157183,NaN,NaN
89,742928442740482049,1326791555198357506,2020-11-12T07:38:52.000Z,[1326791555198357506],1326791555198357506,NaN,en,everyone,Twitter for Android,RT @hrtablaze: The largest county in Arizona i...,...,816995904993525760,AMERICAN DREAMER,wyckoffathome,United States,517,661,0,157183,NaN,NaN
89,313676704,1327355781998645253,2020-11-13T21:00:54.000Z,[1327355781998645253],1327355781998645253,NaN,en,everyone,Twitter for iPhone,RT @BorisEP: Dominion Voting Systems used in M...,...,816995904993525760,AMERICAN DREAMER,wyckoffathome,United States,517,661,0,157183,NaN,NaN
90,1193542532,1324918008070987777,2020-11-07T03:34:03.000Z,[1324918008070987777],1324918008070987777,NaN,en,everyone,Twitter for iPad,RT @danielchaitin7: Rep. Paul Gosar (@RepGosar...,...,2891472286,Justin Wollard,justin_wollard1,"Lake Zurich, IL",243,446,2,13487,NaN,NaN

## Numerical Analysis